<!DOCTYPE html>

<head>
    <title>Order Page</title>
    <link rel="stylesheet" href="style/customer.css"></head>
</head>

<body>
    <div id= "fixedTop">

        <div id="google_translate_element">
            <script type="text/javascript">
                function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>

        <div id= "orderButton">
            <a href="customerorderpage">My Order</a>
        </div>

        <div class= "chick-fil-a-logo">
            <img src="./images/chick-fil-a-logo.png" alt="logo"/>
        </div>

        <div class="hr"><hr /></div>
            <ul id="nav">
                <li><a href="customerentrees">Entrees</a></li>
                <li><a href="customerwaffle_fries">Waffle Fries</a></li>
                <li><a href="customernuggets">Nugget Entrees</a></li>
                <li><a href="customersides">Sides</a></li>
                <li><a href="customerdrinks">Drinks</a></li>
                <li><a href="customerdesserts">Desserts</a></li>
                <li><a href="customersalads">Salads</a></li>
                <li><a href="customerdressings">Dressings</a></li>
                <li><a href="customersauces">Sauces</a></li>
            </ul>
        <div class="hr"><hr /></div>
    </div>

    <div id="items">
        <div id="orderdetscss">
            <h5>Your Order Was Submitted!</h5>
            <h6>Order #: <%=orderdets[0].id%></h6>
            <h6>Total: $<%=Math.round(orderdets[0].total_price*100) / 100%></h6>
        </div>
    </div>
</body>