<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div className="title_main">
        <h1> Welcome! </h1>
        <ul>
        <li> <a href="customer"> <h4> Customer </h4> </a> </li>
        <li> <a href="serverLogin" > <h4> Server </h4> </a> </li>
        <li> <a href="managerLogin"> <h4> Manager </h4> </a> </li> 
    </div>

    <script src="server_funcs.js"></script>   
</body>