<!DOCTYPE html>
<head>
    <title>Server Page</title>
    <link rel="stylesheet" href="style/server.css"></head>
</head>
<body>

    <div class="page">
        <h2> Start a new order </h2>
        <li> <a href="server"> <h4> Start Order </h4> </a> </li>
        <li> <a href="/"> <h4> Logout </h4> </a> </li>
    </div>      
       
</body>